280NPLIST;1.0;D;K;26;CPApplicationDelegateClassS;13;AppControllerK;12;CPBundleNameS;9;AmplifierK;16;CPPrincipalClassS;13;CPApplicationK;16;CPSystemFontSizeS;2;20K;14;CPDefaultThemeS;6;AristoK;29;CPBundleInfoDictionaryVersiond;1;6K;18;CPBundleIdentifierS;32;com.darkoverlordofdata.AmplifierK;15;CPBundleVersionS;3;1.0K;19;CPBundlePackageTypeS;4;APPLK;20;CPBundleEnvironmentsA;S;7;BrowserS;8;CommonJSE;K;18;CPBundleExecutableS;12;Amplifier.sjK;36;CPBundleEnvironmentsWithImageSpritesA;E;E;